@import "bootstrap.min.css";
@import "freelancer.css";
@import "font-awesome.min.css";
@import "gridstack.css";
@import "gridstack-demo.css";
@import "bootstrap-theme.min.css";

img {
                margin: 10px;
            }
            
            .bs-example {
                margin: 20px;
            }
            
            .imgsize {
                height: 100px;
                width:100px;
            }
















